header{
    grid-area: hd;
    background-color: rgb(103, 212, 234);
}

nav{
    background-color: white;
    width: 100%;
    gap: 0.5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px;
    grid-template-areas:
    'nav1 nav2 nav3';

}

.nav_article{
    height:100%;
    width:100%;
}

.navitm1{
    grid-area: nav1;
    background-color: rgb(185, 185, 189);
}

.navitm2{
    grid-area: nav2;
    background-color:rgb(185, 185, 189);
}
.navitm3{
    grid-area: nav3;
    background-color:rgb(185, 185, 189);
}



img{
    height: 30px;
}