
/* layout för alla sidor */
.container{
    height: 110vh;
    display:grid;
    grid-template-rows: auto 4fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    'hd '
    'mn'
    'ft';
}

a:link{text-decoration: none;}
a:visited { text-decoration: none; }

/* header kod */
header{
    background-color: rgb(31, 31, 31);
    grid-area: hd;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'lgo . drj hem oms. .';
}

.logo{
    grid-area: lgo;
    max-width: 90px;
    margin-left: 50px ;
}

.djur{
    grid-area: drj;
    color:white;
    text-align: center;
}
.hem{
    grid-area: hem;
    color:white;
    text-align: center;
}
.om_oss{
    grid-area: oms;
    color:white;
    text-align: center;
}

/* main kod */
.main{
    background-image:url(https://static.vecteezy.com/system/resources/thumbnails/002/019/497/original/jungle-tropical-background-free-video.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    grid-area: mn;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'int int valk valk hta .'
    '. . . . kt kt';
}
.karta{
    position: relative;
    grid-area: kt;
}
iframe{
    width: 99%;
    height: 98%;
}
.hitta_hit{
    grid-area: hta;
    margin-right: 40px;
    margin-top: 270px;
}
.valkommen{
    text-align: center;
    grid-area: valk;
    font-size:150%;
}
.intro{
    grid-area: int;
    margin-top:140px;
    margin-left:150px;
    text-align: center;
}

/* footer kod */
footer {
    grid-area: ft;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.copyright {
    font-size: 14px;
}

.contact {
    font-size: 14px;
    text-decoration: none;
}

/* våra djur kod */
.main2{
    background-color:green;
    display: flex;
    flex-wrap: wrap;
}
/* card kod */
.card{
    background-color: rgb(255, 255, 255);
    flex: 20%;
    margin:35px;
    border: 2px solid rgb(255, 255, 255);
    border-radius:10px;
    align-self: stretch;
}

.card img{
    max-width:100%;
    border-radius:10px;
    
}
.card .text {
    padding: 0 20px 20px;
    text-align: center;
}

/* meny */
.main3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'grl tbh';
    background-image:url(../img/bakgrund.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
li{
    text-align: center;
    list-style: none;
    margin-top: 60px;
}
.grillat{
    margin-left: 300px;
    margin-right: 80px;
    grid-area:grl;
    background-color: #dbbb94;
    border-radius: 20px;
}

.tillbehor{
    margin-left: 80px;
    margin-right: 300px;
    grid-area:tbh;
    background-color: #dbbb94;;
    border-radius: 20px;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
*{
    font-family: 'Oxygen', sans-serif;
}